{% extends './header.html' %}

{% block head %}
{{ parent() }}
<!-- THREE JS & its modules -->
<script src="js/three.min.js"></script>

<!-- SHADERS -->
<script src="js/shaders/CopyShader.js"></script>
<script src="js/shaders/DigitalGlitch.js"></script>
<script src="js/shaders/RGBShiftShader.js"></script>
<!-- !SHADERS -->

<!--<script src="js/postprocessing.min.js"></script>-->
<script src="js/threejs/EffectComposer.js"></script>
<script src="js/threejs/RenderPass.js"></script>
<script src="js/threejs/ShaderPass.js"></script>
<script src="js/threejs/DigitalPass.js"></script>
<script src="js/threejs/GlitchPass.js"></script>
<!-- !THREE JS & its modules -->

<!-- Other dependencies -->
<script src="js/DSP.js"></script>
<script src="js/SimplexNoise.js"></script>
<!-- !Other dependencies -->

<!-- Personal Scripts -->
<script src="js/RythmLights.js"></script>
<script src="js/Clouds.js"></script>
<script src="js/Rain.js"></script>
<script src="js/AudioVisualiser.js"></script>
<script src="js/ThreeScene.js"></script>
<script src="js/home.js"></script>
<!-- !Personal Scripts -->
{% endblock %}

{% block content %}
<main>
    <!--<div class="loading-container">
        <div id="progress">
            <div id="loading-bar"></div>
        </div>
    </div>-->
    <div class="canvas-container">
        <div id="main-canvas" class="flex-centered">
            <div class="canvas-inside canvas-top">
                <div style="position: absolute;right: 1em;">
                    <a class="btn-top" href="https://github.com/a-h-abram/audio-visualiser" target="_blank"
                       type="button">
                        <i class="fas fa-code"></i>
                    </a>

                    <a class="btn-top" href="https://github.com/a-h-abram" target="_blank" type="button">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>

            <div class="canvas-inside" id="upload-section">
                <div id="btn-upload" onclick="getFile()">Click to upload your music</div>
                <!-- this is your file input tag, so i hide it!-->
                <div style='height: 0;width: 0;overflow: hidden;'>
                    <input id="audio-uploader" type="file" value="upload"/>
                </div>
            </div>

            <div class="canvas-inside canvas-bottom">
                <audio class="audio-ctrl" id="audio-player" controls>
                    <source src="" id="audio-src"/>
                </audio>

                <a id="btn-redo" onclick="reload()" type="button">
                    <i class="fas fa-redo"></i>
                </a>
            </div>
        </div> <!-- 3D background -->
    </div>
</main>
{% endblock %}
